@import "../const.scss";
@import "../mixin.scss";

.timeline {
  background-color: gray; // for test
  width: 100%;
  box-sizing: border-box;
  outline: none;

  position: relative;
  white-space: nowrap;
  overflow: scroll;
  @include scrollbar-horizontal;

  .wrapper {
    display: inline-block;
    margin: 0 24px 16px;
    background-color: black; // for test
  }

  .timestep {
    background-color: lightgray; // for test
    display: inline-block;
    width: 400px;
    padding: 16px 0;
  }

  .position-indicator {
    position: absolute;
    left: 0;
    background-color: $force-background;
    width: 1px;
    height: 100%;

    span {
      position: absolute;
      background-color: $force-background;
      top: 40px;
      padding: 3px 4px;
      border-radius: 7px;
    }
  }
}
